ul{
    li{
        outline: none;
    }
}
.active{
    background: gray;
}
  li{
    list-style: none;
    padding: 10px;
	border-bottom:1px dotted #333
  }
  *{
    margin: 0px;
    padding: 0px;
  }
  .iconfont{
    width: 47px;
    height: 49px;
    line-height: 50px; 
    text-align: center; 
    display: block;
    border-right: 1px solid #222;
    box-shadow: 1px 0 1px #363636;
  }
 